<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" href="../static/thankyou.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <!-- <div class="card">
        <h1>Thank You!</h1>
        <p>Your responses have been successfully submitted.</p>
        <a href="https://tips-g-alwar-frontend.vercel.app/index.html">Go Back</a>
    </div> -->
    
    <div class="card">
        <!-- <img src="thankyou.jpg" alt="" width="100%" style="border-radius: 15px;"> -->
        <!-- <img src="thankyou.jpg" alt="" width="100%" style="border-radius: 15px;"> -->
        <img src="../static/thankyou.jpg" alt="" width="100%" style="border-radius: 15px;">
        <a href="https://website-frontend-hllq.onrender.com/">Go Back<i class="bi bi-arrow-right-circle fs-5 fw-5" style="margin-left: 10px;"></i></a>
    </div>

</body>
</html>
